@model ContosoUniversity.Models.Student
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<h3>Are you sure want to delete this?</h3>
<h3>Student</h3>
@Html.LabelFor(m=>m.LastName) : @Model.LastName 

